:root {
    --color-main: #cf321d;
    --color-bg: #1c1920;
    --color-text: white;
    --color-sub-text: gray;
}

.text-main {
    color: var(--color-text);
}

.text-sub {
    color: var(--color-sub-text);
}

.text-theme {
    color: var(--color-main);
}

.text-dark {
    color: var(--color-bg);
}

.bg-main {
    background-color: var(--color-main);
}

.bg-background {
    background-color: var(--color-bg);
}

.translate-middle-ny {
    transform: translateY(50%);
}

/* header */

.title {
    font-size: 2.8rem;
    width: fit-content;
}

.title::before {
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--color-main);
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 100%;
}

.icon-wrapper {
    right: 3rem;
    top: 1.5rem;
    width: 2rem;
    height: 2rem;
}

.page-content {
    border-inline: 2px solid var(--color-text);
    min-height: 100vh;
}

video {
    object-fit: cover;
}

@media (min-width: 1900px) {
    .container {
        min-width: 1800px !important;
        max-width: 1800px !important;
    }
}

/* ----------------------- start bracket  -----------------------*/
/* pairss in diff levels */

#bracket-container {
    overflow: hidden;
    cursor: grab;
    user-select: none;
    scroll-behavior: smooth;
    justify-content: safe center;
}

#bracket-right {
    position: relative;
    left: -.5rem;
    direction: rtl;
    margin-left: auto;
}

#bracket-left {
    position: relative;
    right: -.5rem;
    margin-right: auto;
}

.pair {
    border: 1px solid var(--color-main);
    border-left: transparent;
    width: 18rem;
}

#bracket-container ul:nth-child(1) .pair {
    height: 6rem;
}

#bracket-container ul:nth-child(1) .pair:not(:last-child) {
    margin-bottom: 6rem;
}

#bracket-container ul:nth-child(2) .pair {
    height: 12rem;
    left: -1.5rem;
}

#bracket-container ul:nth-child(2) .pair:not(:last-child) {
    margin-bottom: 12rem;
}

#bracket-container ul:nth-child(3) .pair {
    height: 24rem;
    left: -3rem;
}

#bracket-container ul:nth-child(4) .team {
    left: -4.5rem;
}

/* ========== right bracket ================ */
#bracket-right .pair {
    border: 1px solid var(--color-main);
    border-right: transparent;
}

#bracket-right ul:nth-child(2) .pair {
    right: -1.5rem;
}

#bracket-right ul:nth-child(3) .pair {
    right: -3rem;
}

#bracket-right ul:nth-child(4) .team {
    right: -4.5rem;
}

/* ========== right bracket ================ */

/* team node */

.team {
    width: 16rem;
}

.team__img {
    width: 1.875rem;
}

/* team root node */

#bracket-left>.team:last-child {
    left: -4.5rem;
}

/* ========== right bracket ================ */
#bracket-right>.team:last-child {
    right: -4.5rem;
}

/* team rules */
.team {
    background-color: var(--color-bg);
    color: white;
    overflow: hidden;
    border: 1px solid var(--color-main);
}

.team::before,
.team::after {
    content: "";
    height: 110%;
    position: absolute;
    background-color: var(--team-theme, var(--color-main));
    transform: skew(-45deg);
}

.team::before {
    width: 5rem;
    left: -3rem;
    z-index: 0;
}

.team img {
    z-index: 1;
}

.team::after {
    width: .4rem;
    left: 4.5rem;
    z-index: 0;
}

#bracket-right .team::before {
    right: -3rem;
    transform: skew(45deg);
}

#bracket-right .team::after {
    right: 4.5rem;
    transform: skew(45deg);
}

.team span {
    padding: .2rem 0;
    z-index: 1000;
}